*{
  margin: 0px;
  padding: 0px;
}

.home-container{
  background-image: url("/public/Images/home-bg.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0000009e;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-heading{
  color: white;
  display: flex;
  padding: 10px;
}

.home-heading h1{
  padding-right: 6px;
  color: white;

  font-size: 6vw;
}

.home-heading h1:hover{

  color: transparent;
  -webkit-text-stroke:  0.4px white;

}


.home-subtitle{
  color: white;
  letter-spacing: 4px;
  font-weight: 300;
  font-style: italic;
}

.home-explore-button{
  margin-top: 10px;
}

.nav-container{
  position: fixed;
  bottom: 0vh;
  background-color: rgba(91,87,116,255);
  width: 100vw;
  z-index: 9999999999;
}
.bottom-nav-container
{
  background-color: transparent !important;
  margin: auto;
}

.bottom-nav-link{
  color: rgb(23,63,99)
}

.search-bar{
  display: flex;
  flex-direction: row;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 100000;
  background-color: white;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 1px 3px 10px #00000036;
}

.search-box{
  width: 50%;
  display: flex;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 15px !important;
  padding: 0px 10px;
  justify-content: space-around;
}


.search-bar-add-ons{
 
}

.wallpaper-container{
  width: 80vw;
  margin: auto;
}

.search-bar-avatar{
  
}

.search-input{
  border:  none !important;
  border-radius: 0px !important;
  width: 75%;
  outline: none;
}



.name-avatar{
  background-color:#6e6e92 !important;
  margin: auto;
}


.card{
  width: 40vw !important;
  margin: auto;
}
.card-image{
  width: 100%;
  height: 50vh;
  overflow: auto;
}

.card-image img{
  width: 100%;
  overflow: auto;
}
.wallpaper-description{
  padding: 10px 20px;
}

.wallpapers-actions-list{
  padding: 10px 20px;
}

.wallpapers-list{
  margin-top:15px !important;
  width: 70%;
  margin-bottom: 80px !important;
  margin: auto;
}

.wallpaper{
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.185);
  margin-bottom: 20px;
}

.add-wallpaper-container{
  display: flex;
  width: 100%;
  height: 100vh
}

#file{
  display: none;
}

#file-input-label{
  border: none;
  padding: 6px 20px;
  border-radius: 5px;
  background-color: rgb(31, 165, 31);
  color: white;
  font-size: 16px;
}


#wallpaper-description-textbox{
  border: none !important;
}

#add-wallpaper-actions{
  display: flex;
  width: 100%;
  justify-content: space-around;
}



.image-container img{
  width: 100%;
}


::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(134, 125, 125, 0.904);
  background-clip: content-box
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  rgb(109, 109, 109); 
}

.login-form-container{
  padding:  80px  20px;
  box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.329);
  width: 60%;
  background-color: rgba(255, 255, 255, 0.308);
  }
  .login-page-container{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: auto;
  }
  .profile-delete-button{
    float: right;
  }
  .no-wallpaper-warning{
   color: rgb(138, 184, 138);
   height: calc(100vh - 10vh);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }
  .loader{
    /* margin: auto; */
    display:  inline-block;
    width: 10px;

  }


  .microphone-div{
    margin-right: 1%;
  }

  .loading-div{
    width: 10%;
    padding-top: 0.3%;
    margin-right: 1%;
    align-self: center;
  }

  
  .login-container{
   width: 100vw;
   background-image: url("/public/Images/loginbg-2.jpg");
   background-size: cover;
   background-position: center;
  }


  .bottom-account-link{
    color: black;
    cursor: pointer;
    padding-top: 10px;
    text-decoration: none;
    font-style: italic;
    font-weight: 400;

  }

  .account-link-div{
    margin-top: 20px;
    /* float: right;s */
  }

 .Mui-selected{
  color: #b396b4 !important;
 }


 .CG-logo-div{
  font-size: 1.5rem;
  align-self: center;
 }
  .CG-logo-div p{
    padding: 0px;
    margin: 0px;
  }

  .CG-logo-div p .CG-logo-End{
    font-weight: bold !important;
    letter-spacing: -1px;
  }

  .CG-logo-div p .CG-logo-Start{
    letter-spacing: 2px;
  }


 .search-account{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
 }

.comment-input{
  display: flex;
  justify-content: space-around;
}

.userComment{
  display: flex;
  margin-left: 5%;
}
.comment-avater{
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px;
  background-color:#b396b4 !important;
}

.comment-text{
  margin-left: 5%;
  color: darkgray;
}

.comments-div{
  height: 50vh;
  position: relative;
  overflow: auto;
}

.comment-button{
  background-color: #b396b4 !important;
  color: white !important;
}

.no-comment-warning{
  color: #b396b4;
}